@import url('https://fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro:200,300,400,600&display=swap');


 :root {
/*
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
*/
     /* Override Variables */
  --font-family-sans-serif: 'Source Sans Pro', -apple-system,
  BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';
--gray-dark: #404040;
--purple: #533777;

/* Page Variables */
--light-green: #a6d491;
--light-yellow: #eeff00b0;
--light-purple: #c290d2;
--font-family-serif: Merriweather, serif;
--color-text: var(--gray-dark);
--font-family-text: var(--font-family-serif);
} 

.family-sans {
    font-family: var(--font-family-sans-serif);
}

body {
    font-family: var(--font-family-text);
    /* color: var(--color-text); */
    font-weight: 800;
    font-size: medium;
}

.section-header-home {
    background: url(../img/home.png?1234);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
}

.section-header-home .layout-home {
    min-height: 90vh;
}


.section-aboutus {
    /* background: url(../img/home.png?1234); */
    /* background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; */
    /* color: white; */
    background-color:rgb(201, 222, 241);
}

.section-aboutus .layout-aboutus {
    min-height: 50vh;
}

.section-values {
    /* background: url(../img/home.png?1234); */
    /* background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; */
    /* color: white; */
    background-color:rgb(234, 239, 243);
}

.section-values .layout-values {
    min-height: 50vh;
}

.site-footer {
    background:#949494;
    color: whitesmoke;
    font-family: monospace;
    font-weight: bolder;
    font-size: small;
}
.site-footer .footer-copyright {
    font-family: serif;
}


/* .vision-body, */
.site-header-common {
    /* background: url(../img/pic1.png?1234);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover; */
    /* background: rgb(113, 113, 224); */
    color: white;
}

.site-header-common .layout-common {
    /* min-height: 75vh; */
}

#vision {
    /* background: url(../img/vision.png?1234); */
}
#aboutus {
    /* background: url(../img/aboutus.png?1234); */
}
#mission {
    /* background: url(../img/mission1.png?1234); */
}
#supportus {
    /* background: url(../img/supportus.png?1234); */
}
#values {
    /* background: url(../img/values.png?1234); */
}
#whyus {
    /* background: url(../img/whyus.png?1234); */
}

#contactus {
    /* background: url(../img/whyus.png?1234); */
}
#whyus {
    /* background: url(../img/whyus.png?1234); */
}
/* 
.site-header-common {
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 5%, rgba(133,253,45,1) 82%);
} */

/* .site-header-common .layout-home {
    min-height: 100vh;
} */


#page-vision {
    background: lightblue;
}

#page-mission {
    background: lightskyblue;
}

#page-aboutus {
    background: lightseagreen;
}

#page-values {
    /* background: rgb(34,193,195); */
    /* background: radial-gradient(circle, rgba(34,193,195,1) 5%, rgba(133,253,45,1) 82%); */
}

#page-whyus {
    /* background: rgb(34,193,195); */
    /*  background: radial-gradient(circle, rgba(34,193,195,1) 5%, rgba(133,253,45,1) 82%); */
}

#page-supportus {
    /* background: rgb(34,193,195); */
    /* background: radial-gradient(circle, rgba(34,193,195,1) 5%, rgba(133,253,45,1) 82%); */
}

#page-contactus {
    /* background: rgb(34,193,195); */
    /* background: radial-gradient(circle, rgba(34,193,195,1) 5%, rgba(133,253,45,1) 82%); */
}

#page-partners {
    /* background: rgb(34,193,195); */
    /* background: radial-gradient(circle, rgba(34,193,195,1) 5%, rgba(133,253,45,1) 82%); */
}

#page-financing {
    /* background: rgb(34,193,195); */
    /* background: radial-gradient(circle, rgba(34,193,195,1) 5%, rgba(133,253,45,1) 82%); */
}

#page-management {
    /* background: rgb(34,193,195); */
    /* background: radial-gradient(circle, rgba(34,193,195,1) 5%, rgba(133,253,45,1) 82%); */
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}